# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Project specific
input/cookies.txt
input/cookies.json
output/
logs/
debug_failed_extraction.html
wrong twitter log.txt
debug/
.coverage
check_proxy.sh
# OS
.DS_Store
.vscode/
.idea/
